/* pagina de contacto */

.formulario {
    background-color: $bgColor;
    padding: 40px 80px;
    width: auto;
    border-left: 5px solid $mainColor;
    border-right: 5px solid $mainColor;

    .form {
        margin: 30px 0;
        padding: 10px 50px 20px 50px;
        background-color: $navFotColor;
        color: $fontColor;
        border-radius: 15px;
        border-color: $borderColor;
        border-style: solid;
        text-align: center;

        label {
            font-size: 18px;
        }

        button {
            font-size: 18px;
            background-color: $borderColor;
            color: $mainColor;
            border-color: $mainColor;

            &:hover {
                background-color: $mainColor;
                color: $borderColor;
                border-color: $borderColor;
            }
        }
    }
}

.formulario .map {
    margin: 30px 0;
    padding: 10px 50px 20px 50px;
    background-color: $navFotColor;
    color: $fontColor;
    border-radius: 15px;
    border-color: $borderColor;
    border-style: solid;
    text-align: center;

    iframe {
        border-radius: 2%;
    }
}