/* contenido de inicio */

.logo {
    background-image: url("../assets/img/camposembrado.jpg");
    background-position: 0 center;
    background-repeat: repeat-x;
    background-size: cover;
    justify-content: left;
    align-items: center;
    display: flex;
    border-top-style: none;
    border-bottom: 4px solid $borderColor;

    .logo-image {
        img {
            background-color: rgba(235, 180, 44,);
            background: linear-gradient(90deg, rgba(235, 180, 44,) 0%, rgba(171,171,124,1) 100%);
            padding: 60px;
        }
    }
}



.container-text {
    background: rgb(1,43,40);
background: radial-gradient(circle, rgba(1,43,40,0.7707457983193278) 33%, rgba(237,203,120,1) 100%);
    color: blanchedalmond;
    text-shadow: 0px 4px 4px black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 20px;
    border-style: solid;
    border-color: $borderColor;
    padding: 30px 10px;
    border-radius: 10px;

    p {
        font-size: 20px;
        color: #fff;
    }
}



.container-tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .tarjeta {
        height: 400px;
        margin: 50px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        border-radius: 10px;
    }
}