/* contenido de inicio */

.logo {
    background-image: url("https://res.cloudinary.com/disbfzk52/image/upload/v1708473448/camposembrado_qvyrsz.jpg");
    background-position: 0 center;
    background-repeat: repeat-x;
    background-size: cover;
    @include flexible;
    border-top-style: none;
    border-bottom: 4px solid $borderColor;

    .logo-image {
        img {
            background: rgba(237, 203, 120, 1);
            background: radial-gradient(circle, rgba(237, 203, 120, 1) 0%, rgba(241, 222, 151, 1) 20%, rgba(241, 222, 151, 1) 40%, rgba(241, 222, 151, 0.7511379551820728) 60%, rgba(241, 222, 151, 0) 80%, rgba(241, 222, 151, 0) 100%);
            padding: 100px 200px;
            border-radius: 10% / 50%;
        }
    }
}

.descripcion {
    width: 100%;
    padding: 0;
    @include flexible;

    .descripcion-section {
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        margin: 30px 0;

        .container-text {
            background: rgb(1, 43, 40);
            color: blanchedalmond;
            text-shadow: 0px 4px 4px black;
            @include flexible;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 30px 20px;
            border-style: solid;
            border-color: $borderColor;
            padding: 0 10px;
            border-radius: 10px;

            h1 {
                padding: 20px 0;
                border-bottom: 3px solid $borderColor;
            }

            h2 {
                padding: 20px 0;
                border-bottom: 3px solid $borderColor;
            }

            p {
                padding: 20px 0;
                font-size: 20px;
                color: #fff;
                text-align: center;
            }
        }
    }
}

.container-tarjeta {
    background-color: $mainColor;
    @include flexible;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: no-repeat;
    border-top: 5px solid $borderColor;

    .tarjeta {
        max-width: 300px auto;
        height: 500px;
        margin: 50px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        border-radius: 10px;
        border: 8px outset $borderColor;

        img {
            background-position: 0 center;
            background-repeat: repeat-x;
            background-size: auto;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 10px;
        }
    }
}

.logo-contenedor {
    background-color: $mainColor;
    @include flexible;
    padding: 50px 0;

    img {
        position: relative;
        width: 100% auto;
        padding: 50px;
        border: 5px outset $borderColor;
    }
}