// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


@media (min-width: 320px) and (max-width: 575px) {

    // navbar y footer

    .navbar {
        padding: 30px;

        .container-fluid {
            height: auto;
            width: 300px auto;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .navbar-brand {
                padding: 0;
            }

            .navbar-toggler {
                margin: 0;
            }
        }

        .navbar-nav {
            padding: 5px 20px;
            margin-bottom: 0;

            .nav-item {
                align-items: center;
                justify-content: center;
                border-right-style: none;

                .nav-link {
                    padding-bottom: 5px;
                    font-size: 18px;
                    border-bottom: 2px solid $borderColor;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }

    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .footer-links {
            height: auto;
            width: 100%;
            padding: 20px;

            a {
                font-size: 20px;
            }
        }
    }

    // index

    .logo {
        .logo-image {
            img {
                background: rgb(237, 203, 120);
                background: linear-gradient(180deg, rgba(237, 203, 120, 1) 0%, rgba(255, 255, 255, 1) 100%);
                padding: 20px 10px;
                border-radius: 0
            }
        }
    }

    .container-tarjeta {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;

        .tarjeta {
            margin: 30px 5px;
            height: 300px;
            max-width: 250px;

            img {
                width: 100% auto;
            }
        }
    }

    .logo-contenedor {
        img {
            min-width: 100px;
            border: none;
        }
    }

    // propiedades

    .container-fluid {
        .grid-container {
            padding: auto;
            grid-template-columns: repeat(1, 2fr);

            .card-prop {
                margin: 20px 5px;
                padding: 10px;
                height: fit-content;

                .card-prop-text {
                    h3 {
                        font-size: 25px;
                    }

                }

            }
        }
    }

    // servicios

    .container-fluid {
        .container {
            .servicios {
                padding: 40px 20px;
            }
        }
    }

    // contacto

    .formulario {
        padding: 30px 10px;
        margin: 5px;

        .form {
            margin: 5px;
            padding: 10px;
        }
    }

    // propiedades

    .flex-container {
        width: 100%;
        padding: 0;

        .card-prop {
            img {
                min-height: 0;
            }
        }
    }
}




// Small devices (landscape phones, 576px and up) sm

@media (min-width: 576px) and (max-width: 767px) {
    .md-section {
        width: 70%;
    }

    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .footer-links {
            height: auto;
            width: 100%;
            padding: 20px;

            a {
                font-size: 20px;
            }
        }
    }

    .container-tarjeta {
        margin: 20px 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;

        .tarjeta {
            margin: 30px 5px;
            height: 500px;
            width: 250px;

            img {
                width: 100% auto;
            }
        }

    }

    .navbar {
        .container-fluid {
            height: auto;
            width: 300px auto;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .navbar-brand {
                padding: 0;
            }
        }

        .navbar-nav {
            padding: 5px 20px;
            margin-bottom: 0;

            .nav-item {
                align-items: center;
                justify-content: center;
                border-right-style: none;
                margin: 7px 0;

                .nav-link {
                    padding-bottom: 5px;
                    font-size: 21px;
                    border-bottom: 2px solid $borderColor;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }

    // index

    .logo {
        .logo-image {
            img {
                background: rgb(237, 203, 120);
                background: linear-gradient(180deg, rgba(237, 203, 120, 1) 0%, rgba(255, 255, 255, 1) 100%);
                padding: 50px 50px;
                border-radius: 0
            }
        }
    }

    .logo-contenedor {
        img {
            min-width: 100px;
            border: none;
        }
    }

    // contacto

    .formulario {
        padding: 30px 10px;
        margin: auto;

        .form {
            margin: 5px;
            padding: 10px;
        }
    }

}




// Medium devices (tablets, 768px and up) md
@media (min-width: 768px) and (max-width: 991px) {
    .md-section {
        width: 40%;
    }

    .navbar {
        .container-fluid {
            height: auto;
            width: 300px auto;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .navbar-brand {
                padding: 0;
            }
        }

        .navbar-nav {
            padding: 5px 20px;
            margin-bottom: 0;

            .nav-item {
                align-items: center;
                justify-content: center;
                border-right-style: none;
                margin: 10px 0;

                .nav-link {
                    padding-bottom: 5px;
                    border-bottom: 2px solid $borderColor;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-size: 24px;
                }
            }
        }
    }

    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

        .footer-links {
            height: auto;
            width: 100%;
            padding: 20px;

            a {
                font-size: 20px;
            }
        }
    }

    // index

    .logo {
        .logo-image {
            img {
                background: rgb(237, 203, 120);
                background: linear-gradient(180deg, rgba(237, 203, 120, 1) 0%, rgba(255, 255, 255, 1) 100%);
                padding: 50px 100px;
                border-radius: 0
            }
        }
    }

    .logo-contenedor {
        img {
            min-width: 100px;
            border: none;
        }
    }

}

// Large devices (desktops, 992px and up) lg
@media (min-width: 992px) {

    .md-section {
        width: 40%;
    }
}