/* pagina de servicios */

.servicios {
    background-image: url(../assets/img/kostiantyn-li-ZuvfylQc-OQ-unsplash.jpg);
    background-position: 0 center;
    background-repeat: repeat-x;
    background-size: cover;
    padding: 40px 80px;
    color: #f3c552;
    width: auto;
    border-left: 5px solid #012B28;
    border-right: 5px solid #012B28;

    .servicios-card {
        font-size: 50px;
        height: 300px;
        margin: 20px 0;
        background-color: $mainColor;
        color: blanchedalmond;
        border-style: solid;
        border-color: #f3c552;
        padding: 20px 10px;

        img {
            height: 60px;
            width: auto;
        }
    }
}