// reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    font-size: 15px;
}

body {
    background-color: $mainColor;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
