// reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    font-size: 15px;
}

body {
    background: rgb(1, 43, 43);
    background: linear-gradient(180deg, rgba(1, 43, 43, 1) 0%, rgba(155, 155, 122, 1) 52%);
}

.container-fluid {
    margin: 0;
    padding: 0;
}