@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    font-size: 15px;
}

body {
    background-color: rgb(182, 182, 182);
}

.navbar {
    background-color: #012B28;
    color: #EDCB78;
    height: 120px auto;
    padding: 10px 20%;
    position: sticky;
    top: 0;
}

.navbar-brand {
    padding-right: 25px;
    margin: 0;
    cursor: pointer;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.nav-link {
    font-size: 18px;
    padding-left: 5px;
    color: blanchedalmond;
    list-style: none;
    padding: 20px;
}

.nav-link:hover {
    color: #EDCB78;
}

.nav-item {
    padding: 5px;
    height: 10px;
    width: auto;
    border-right-style: solid;
    border-right-color: #EDCB78;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.3s;
}

.navbar-toggler {
    background-color: #EDCB78;
}

/* footer */

.footer {
    height: max-content;
    background-color: #012B28;
    padding: 50px 0;
}

.footer-list {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    height: 190px;
    width: 25%;
    padding: 0 20px;
}

.footer-links ul {
    padding: 0;
}

.footer-links h4 {
    font-size: 24px;
    color: blanchedalmond;
    margin-bottom: 25px;
    font-weight: 500px;
    border-bottom: 2px solid #EDCB78;
    padding-bottom: 10px;
}

.footer-links ul li a {
    border-left: #EDCB78;
    font-size: 18px;
    text-decoration: none;
    color: blanchedalmond;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #EDCB78;
    padding-left: 4px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #EDCB78;
    margin: 0 10px 10px 0;
    align-items: center;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #012B28;
}

    /* cards inicio */

.tarjeta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tarjeta-container img {
    height: 100%;
    width: 100%;
}

.tarjeta {
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

@media screen and (min-width:300px) and (max-width:991px) {
    .tarjeta-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        background-size: cover;
        height: auto;
        width: 100%;
        margin-bottom: 40px;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }
}

